@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Inter';
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background: rgb(13, 148, 136);
}   

::-webkit-scrollbar-track {
    background: rgb(224, 224, 224);
}